<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 15px;">

## Review python types, lists, and dictionaries

Week 1 | Lesson 1.3 

---

In [63]:
student_names = ['jim','andrew','ty','jyotsna','laura','harrison','spencer','chris',
                 'aneel','reem','austin','vinnie','katerina','andrew w.',
                 'medhi','amlan','george','luke','davis','wen','rashim','ben']
print len(student_names)

22

In [64]:
import imp
caller = imp.load_source('caller', '/Users/kiefer/github-repos/DSI-SF-4/utils/student_caller/caller.py')
caller = caller.StudentCaller(names=student_names, ask_questions=True)

---

### 1. What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [4]:
caller()

katerina
Do you have a favorite book?

#### A:
a = integer
b = float
c = list
d = dictionary
e = tuple
f = dictionary 
g, h = boolean
i = string

---

### 2. What is the difference between a "mutable" and "immutable" object?

In [5]:
caller()

wen
What was your least favorite subject in school?

[1, 2, 3, 4]

#### A:

---

### 3. Print the `student_names` list.

In [7]:
caller()

vinnie
Would you rather travel into the past or the future if you couldn't return?

In [8]:
print(student_names)

['jim', 'andrew', 'ty', 'jyotsna', 'laura', 'harrison', 'spencer', 'chris', 'aneel', 'reem', 'austin', 'vinnie', 'katerina', 'andrew w.', 'medhi', 'amlan', 'george', 'luke', 'davis', 'wen', 'rashim', 'ben']

In [10]:
print student_names, 1, 'hello', 1.2

['jim', 'andrew', 'ty', 'jyotsna', 'laura', 'harrison', 'spencer', 'chris', 'aneel', 'reem', 'austin', 'vinnie', 'katerina', 'andrew w.', 'medhi', 'amlan', 'george', 'luke', 'davis', 'wen', 'rashim', 'ben'] 1 hello 1.2

---

### 4. Print the names of the first and last students in the list.

In [11]:
caller()

andrew
What was your favorite subject in school?

In [12]:
print(student_names[0])
print(student_names[21])

jim
ben

In [13]:
print student_names[-1], student_names[-2]

ben rashim

---

### 5. Print the first 5 names in the student list.

In [14]:
caller()

spencer
Can you play any instruments?

In [16]:
print(student_names[0:5])

['jim', 'andrew', 'ty', 'jyotsna', 'laura']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

In [17]:
caller()

davis
Are you a morning or evening person?

In [20]:
combined_name = ""
a = student_names[8] 
b = student_names[9]
combined_name = a + " " + b
print(combined_name)

aneel reem

In [21]:
" ".join(student_names[8:10])

'aneel reem'

---

### 7. Append an animal to the list of animals.

In [22]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [23]:
caller()

george
What genre of music do you dislike the most?

In [24]:
animals.append("giraffe")

In [25]:
print animals

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'giraffe']

---

### 8. Print the length of the animals list.

In [26]:
caller()

aneel
What is the worst present you've ever received?

In [27]:
print len(animals)

7

---

### 9. Divide the length of the fifth animal by the second.

In [28]:
caller()

jyotsna
Would you rather be smart or happy?

In [30]:
temp = len(animals[4])/len(animals[1])
print temp

2

In [31]:
print animals

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'giraffe']

In [32]:
caller()

ty
Would you rather have to listen to only country or only rap for the rest of your life?

---

### 10. Perform the same division but resulting in a decimal number.

In [36]:
temp = 1.0*len(animals[4])/len(animals[1])
print temp

2.33333333333

---

### 11. Show two different ways to combine the animals list and numbers list.

In [40]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [37]:
caller()

ty
Do you value traditions?

In [41]:
for cr in animals:
    numbers.append(cr)

print(numbers)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'giraffe']

In [42]:
caller()

ben
How do you prefer eggs cooked?

In [43]:
print(animals+numbers)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'giraffe', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'giraffe']

In [45]:
[1,2]*9

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

---

### 12. Remove my name from the list and insert your own in the same place.

In [49]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']
#caller()

In [50]:
names.remove(names[2])
names.insert(2,"medhi")
print(names)

['doug', 'billy', 'medhi', 'kian', 'sam']

---

### 13. Sort the following list.

In [53]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [51]:
caller()

ty
What game, if any, are you best at?

None

In [55]:
a = [1,9,2,6]
b = sorted(a)
print a, b

[1, 9, 2, 6] [1, 2, 6, 9]

In [56]:
a.sort()
print a

[1, 2, 6, 9]

---

### 14. Manually check whether one element of `mix` is greater than another.

In [59]:
caller()

jyotsna
How would your friends describe you with a single word?

In [61]:
mix[0] > mix[1]

False

In [62]:
mix

[12, 12.999, {'key': 'value'}, ['billy', 'sam'], 'a', 'flower', (1, 2, 3)]

---

### 15. Find the index of `'a'` in the list.

In [66]:
caller()

luke
What is a skill you would love to have but would hate to have to work for?

In [67]:
mix.index('a')

4

---

### 16. Reverse the `mix` list.

In [71]:
mix.reverse()
print(mix)

[(1, 2, 3), 'flower', 'a', ['billy', 'sam'], {'key': 'value'}, 12.999, 12]

In [77]:
mix[-1:]

[12]

In [79]:
mix[slice(6,3,-1)]

[12, 12.999, {'key': 'value'}]

---

### 17. Remove the last element of `mix` and assign it to a variable.

In [86]:
removed_variable = mix.pop() 
print(mix) 
print(removed_variable)

[(1, 2, 3), 'flower']
a

---

### 18. Count the number of times `0` appears in the following list.

In [94]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [92]:
caller()

harrison
Do you have any unconventional skills?

In [95]:
count = 0
for val in binary:
    if val==0:
        count += 1
print count

16

In [96]:
binary.count(0)

16

In [97]:
len(binary)-sum(binary)

16

---

### 19. Create an SF zipcode dictionary.

With the following key:value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

---

### 20. Get the zipcode for `'soma'` and assign it to a variable.

---

### 21. Get the keys out of the dictionary.

---

### 22. Get the key:value pairs out of the dictionary as a list of tuples.

---

### 23. Add the castro district to the dictionary with zipcode 94114.

---

### 24. Combine the following smaller dictionary of districts with the SF districts dictionary.

In [8]:
small = {'outer_richmond':94121, 'dogpatch':94107}

---

### 25. Remove the `sunset` zipcode and assign it to a variable.

---

### 26. Check if the dogpatch is in the dictionary.