<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 15px;">

## Review python iteration, control flows, and functions

Week 1 | Lesson 1.4

---

In [18]:
import numpy as np
import imp

In [22]:
student_names = ['jim','andrew s.','ty','jyotsna','laura','harrison','spencer','chris',
                 'aneel','reem','austin','vinnie','katerina','andrew w.',
                 'medhi','amlan','george','luke','davis','wen','rashim','ben']
print len(student_names)

22

In [23]:
caller = imp.load_source('caller', '/Users/kiefer/github-repos/DSI-SF-4/utils/student_caller/caller.py')
caller = caller.StudentCaller(names=student_names, ask_questions=False)

---

### 1. Write an if-else statement to check whether the suitcase is over 50lb.

Print a message indicating whether or not the suitcase is over 50lbs.

In [29]:
weight = float(input("How many pounds does your suitcase weigh? "))

How many pounds does your suitcase weigh? 50

In [25]:
caller()

ben

In [30]:
if weight > 50:
    print ("more than 50")
else :
    print ("less than or equal to 50")

less than or equal to 50

---

### 2. Write an if-else statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. Temperature over 60 and rain: bring an umbrella.
2. Temperature less than or equal to 60 and rain: bring and umbrella and a jacket.
3. Temperature over 60 and shine: wear a t-shirt.
4. Temperature less than or equal to 60 and shine: bring a jacket.

In [33]:
temperature = float(input('What is the temperature? '))
weather = raw_input('What is the weather? (rain or shine) ')

What is the temperature? 65
What is the weather? (rain or shine) rain

In [32]:
caller()

spencer

In [34]:
if temperature > 60 and weather == 'rain':
    print ("bring an umbrella")
elif temperature <= 60 and weather == 'rain':
    print ("bring an umbrella and a jacket")
elif temperature > 60 and weather == "shine":
    print ("wear a t-shirt")
else:
    print ("bring a jacket")

bring an umbrella

In [ ]:
if temperature > 60:
    if weather == 'rain':
        print('bring and umbrella')
    else:
        print('wear a t-shirt')
else:
    if weather == 'rain':
        print('bring and umbrella and jacket')
    else:
        print('bring a jacket')

---

### 3. Write a for-loop that iterates from the number 1 to the number 15.

On each iteration, print out the number.

In [35]:
caller()

andrew

In [36]:
caller()

andrew w.

In [40]:
x = range(0, 100)

In [41]:
for i in range(1,16):
    print x[i*3]

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45

---

### 4. Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or in other words, the remainder of dividing 9 by 5 is 4.

In [42]:
caller()

laura

In [43]:
for i in range(1, 16):
    if i % 2 == 0:
        print("The number is even")
    else:
        print("The number is odd")

The number is odd
The number is even
The number is odd
The number is even
The number is odd
The number is even
The number is odd
The number is even
The number is odd
The number is even
The number is odd
The number is even
The number is odd
The number is even
The number is odd

---

### 5. Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print 'fizz'. 
2. If a number is divisible by 5, print 'buzz'. 
3. If a number is both divisible by 3 and 5 print 'fizzbuzz'.
4. Otherwise, print just the number.

In [44]:
caller()

andrew w.

In [45]:
for n in range(1,31):
    result = ''
    if n % 3 == 0:
        result += 'fizz'
    if n % 5 == 0:
        result += 'buzz'
    if len(result) == 0:
        print n
    else:
        print result

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

---

### 6. Iterate through the list of animals and print each one, but in all caps.

In [46]:
caller()

ben

In [48]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [50]:
for x in animals  :
    print (x.upper())

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

---

### 7. Iterate through the animals. Capitalize the first letter and append the modified animals to a new list.

In [51]:
caller()

chris

In [54]:
new_list = []
for i in animals:
    x = i.capitalize()
    new_list.append(x)

print(new_list)

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

In [55]:
for char in 'hello':
    print char

h
e
l
l
o

In [59]:
new_list = []
for a in animals:
    new_list.append(a.capitalize())
print new_list

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

---

### 8. Iterate through the animals. Print out the animal name and the number of vowels in the name.

In [60]:
caller()

jyotsna

In [65]:
vowels = ['a', 'e', 'i', 'o', 'u']
for animal in animals:
    count = 0
    for item in animal:
        if item in vowels:
            count +=1
    print(animal +" "+ "The number of vowels is"+" " + str(count))

duck The number of vowels is 1
rat The number of vowels is 1
boar The number of vowels is 2
slug The number of vowels is 1
mammoth The number of vowels is 2
gazelle The number of vowels is 3

In [67]:
vowels = 'aeiou'
for animal in animals:
    count = 0
    for char in animal:
        if char in vowels:
            count += 1
    print animal, 'has', count, 'vowels'

duck has 1 vowels
rat has 1 vowels
boar has 2 vowels
slug has 1 vowels
mammoth has 2 vowels
gazelle has 3 vowels

---

### 9. Write a function that takes word as an argument and returns the number of vowels in the word.

Try it out on 3 words.

In [68]:
caller()

spencer

In [71]:
def vowel_count(x):
    count = 0
    for char in x:
        if char in 'aeiou':
            count += 1
    return count

In [74]:
def arbitrary_count(my_string, has_chars):
    count = 0
    for char in my_string:
        if char in has_chars:
            count += 1
    return count

In [83]:
arbitrary_count('a short sentence', 'ABC')

2

### 9B: Re-write `arbitrary_count` so that case doesn't matter

In [77]:
'a' == 'A'

False

In [79]:
caller()

davis

In [82]:
def arbitrary_count(my_string, has_chars):
    count = 0
    for char in my_string.lower():
        if char in has_chars.lower():
            count += 1
    return count

---

### 10. Write a function to calculate the area of a triangle from a height and width.

Test it out.

In [84]:
caller()

katerina

In [91]:
def area (height, width):
    tarea=(float(height)*width)/2
    return tarea

area (7,3)

10.5

---

### 11. While loops and strings.

Iterate over the following sentence over and over again, counting the number of vowels in the sentence until you have counted 1 million vowels. Print out the number of iterations it took to reach one million.

In [6]:
sentence = 'if the zoo bans me for hollering at the animals i will face god and walk backwards into hell'

In [95]:
caller()

harrison

In [101]:
sentence = 'if the zoo bans me for hollering at the animals i will face god and walk backwards into hell'
vowels = "aeiou"
iteration = 0
vol_count = 0
while vol_count <= 1000000:
    for char in sentence:
        if char in vowels:
            vol_count += 1
    iteration += 1
print iteration

37038

---

### 12. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

Hint: look up python EAFP

In [105]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000', ]
float_list = []
for i in corrupted:
    float_list.append(float(i))
    #try:
    #    float_list.append(float(i))
    #except:
    #    pass

print(float_list)

ValueError: could not convert string to float: !1

In [103]:
caller()

austin

---

### 13. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [8]:
with open('/Users/kiefer/github-repos/DSI-SF-4/datasets/coffee_preferences/coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through lines and print them out

#### Print out just the lines object by typing `lines` in a cell and hitting enter.

---

### 14. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**`.replace('\n', '')`** is a built-in string function that will take as the first argument the substring you want to replace, and as its second argument the string you want to replace it with.

---

### 15. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

---

### 16. Split the header and the data strings on commas.

To split a string on the comma character, use the **`.split(',')`** built-in function. 

Split the header on commas first and print it. You can see that the original string is now a list, with items that were originally separated by commas.

---

### 17. Remove the "Timestamp" column.

We aren't interested in the Timestamp column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

---

### 18. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that has the numeric ratings converted from strings to floats, and the empty fields (which are empty strings `''`) replaced with the `None` object.

Use a nested for-loop (for-loop within another for-loop) to get the job done. You will likely need to use if/else conditional statements as well.

Print out the new data object to make sure it worked.

---

### 19. Count the `None` values per person and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

---

### 20. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

---

### 21. Create a list of just the people's names.

---

### 22. Picking a name at random: odds of choosing the same name 3 times in a row.

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [9]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly 3 times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

---

### 23. Construct a while loop to run the choosing function until it returns True.

Run the function until you draw the same person 3 times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.