In [10]:
import pandas as pd
import numpy as np

In [11]:
data = ufo = pd.read_csv('https://raw.githubusercontent.com/sinanuozdemir/SF_DAT_17/master/data/ufo.csv')

In [12]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [14]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [20]:
def myfunction(x):
    return 0

# def --> lambda

In [19]:
def tmp_func(subset):
    subset['new_shape'] = subset['Shape Reported'].map(myfunction)
    return subset

ufo.groupby('City').apply(tmp_func)

,City,Colors Reported,Shape Reported,State,Time,lower_city,new_shape
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,ithaca,NOTCIRCLE
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,willingboro,NOTCIRCLE
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,holyoke,NOTCIRCLE
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,abilene,NOTCIRCLE
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,new york worlds fair,NOTCIRCLE
5,Valley City,NaN,DISK,ND,9/15/1934 15:30,valley city,NOTCIRCLE
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00,crater lake,NOTCIRCLE
7,Alma,NaN,DISK,MI,7/15/1936 0:00,alma,NOTCIRCLE
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00,eklutna,NOTCIRCLE
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00,hubbard,NOTCIRCLE
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00,fontana,NOTCIRCLE
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00,waterloo,NOTCIRCLE
12,Belton,RED,SPHERE,SC,6/30/1939 20:00,belton,NOTCIRCLE
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00,keokuk,NOTCIRCLE
14,Ludington,NaN,DISK,MI,6/1/1941 13:00,ludington,NOTCIRCLE
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30,forest home,NOTCIRCLE
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00,los angeles,NOTCIRCLE
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30,hapeville,NOTCIRCLE
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00,oneida,NOTCIRCLE
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00,bering sea,NOTCIRCLE
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00,nebraska,NOTCIRCLE
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00,owensboro,NOTCIRCLE
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00,wilderness,NOTCIRCLE
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00,san diego,NOTCIRCLE
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00,wilderness,NOTCIRCLE
27,Clovis,NaN,DISK,NM,4/2/1944 11:00,clovis,NOTCIRCLE
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00,los alamos,NOTCIRCLE
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00,ft. duschene,NOTCIRCLE
...,...,...,...,...,...,...,...
80513,Manahawkin,NaN,CIRCLE,NJ,9/4/2014 8:30,manahawkin,NOTCIRCLE
80514,New Bedford,NaN,LIGHT,MA,9/4/2014 9:47,new bedford,NOTCIRCLE
80515,Woodbridge,NaN,TRIANGLE,VA,9/4/2014 16:30,woodbridge,NOTCIRCLE
80516,Glendale,NaN,CYLINDER,CA,9/4/2014 17:38,glendale,NOTCIRCLE
80517,Laconia,NaN,CIGAR,NH,9/4/2014 19:02,laconia,NOTCIRCLE
80518,Langhorne,NaN,OTHER,PA,9/4/2014 19:30,langhorne,NOTCIRCLE
80519,Glen Ellyn,RED,CIRCLE,IL,9/4/2014 20:20,glen ellyn,NOTCIRCLE
80520,Waynesburg,NaN,FLASH,PA,9/4/2014 20:25,waynesburg,NOTCIRCLE
80521,Canal Winchester,NaN,TRIANGLE,OH,9/4/2014 20:30,canal winchester,NOTCIRCLE
80522,Lawrence,ORANGE,LIGHT,MA,9/4/2014 20:30,lawrence,NOTCIRCLE
80523,Ellicott City,NaN,LIGHT,MD,9/4/2014 20:45,ellicott city,NOTCIRCLE
80524,Olympia,RED,LIGHT,WA,9/4/2014 21:10,olympia,NOTCIRCLE
80525,Iowa City,BLUE,LIGHT,IA,9/4/2014 21:11,iowa city,NOTCIRCLE
80526,Marshfield,NaN,LIGHT,MA,9/4/2014 21:15,marshfield,NOTCIRCLE
80527,Seattle,NaN,DIAMOND,WA,9/4/2014 21:15,seattle,NOTCIRCLE
80528,North Royalton,RED,TRIANGLE,OH,9/4/2014 21:30,north royalton,NOTCIRCLE
80529,Deer Park,NaN,LIGHT,WA,9/4/2014 22:00,deer park,NOTCIRCLE
80530,Glen St. Mary,NaN,DISK,FL,9/4/2014 22:00,glen st. mary,NOTCIRCLE
80531,Abingdon,NaN,CIRCLE,VA,9/4/2014 22:05,abingdon,NOTCIRCLE
80532,Lawrence,NaN,LIGHT,MA,9/4/2014 22:15,lawrence,NOTCIRCLE
80533,Melbourne,NaN,OVAL,IA,9/4/2014 22:15,melbourne,NOTCIRCLE
80534,Burleson,NaN,LIGHT,TX,9/4/2014 22:30,burleson,NOTCIRCLE
80535,Elizabethtown,NaN,CIRCLE,KY,9/4/2014 22:30,elizabethtown,NOTCIRCLE
80536,Wyoming,RED,DISK,PA,9/4/2014 23:00,wyoming,NOTCIRCLE
80537,Neligh,NaN,CIRCLE,NE,9/4/2014 23:20,neligh,NOTCIRCLE
80538,Neligh,NaN,CIRCLE,NE,9/4/2014 23:20,neligh,NOTCIRCLE
80539,Uhrichsville,NaN,LIGHT,OH,9/5/2014 1:14,uhrichsville,NOTCIRCLE
80540,Tucson,RED BLUE,NaN,AZ,9/5/2014 2:40,tucson,NOTCIRCLE
80541,Orland park,RED,LIGHT,IL,9/5/2014 3:43,orland park,NOTCIRCLE
80542,Loughman,NaN,LIGHT,FL,9/5/2014 5:30,loughman,NOTCIRCLE

In [9]:
group_colors = ufo.groupby(['City','State'])['Colors Reported']
group_colors.apply(lambda x: len(np.unique(x))).reset_index()

                                      City State  Colors Reported
0                               ((HOAX??))    PA                1
1                 ((Unspecified location))    IL                1
2                     (City not specified)    MO                1
3            (above mountains in airplane)    UT                1
4                                Abbeville    LA                1
5                                Abbeville    SC                2
6                                 Aberdeen    MD                1
7                                 Aberdeen    NC                1
8                                 Aberdeen    NJ                1
9                                 Aberdeen    OH                1
10                                Aberdeen    SD                2
11                                Aberdeen    WA                3
12                                 Abilene    KS                2
13                                 Abilene    TX                5
14                                Abingdon    IL                1
15                                Abingdon    MD                1
16                                Abingdon    VA                2
17                                Abington    MA                1
18                                Abington    PA                2
19                           Abita Springs    LA                1
20                                 Absecon    NJ                1
21                                 Academy    TX                1
22                                  Acampo    CA                1
23                                Accokeek    MD                1
24                                  Accord    NY                2
25                                Achusnet    MA                1
26                                Ackerman    MS                1
27                                    Acme    MI                2
28                                    Acme    PA                1
29                                   Acoma    NM                1
...                                    ...   ...              ...
18233                                 none    FL                1
18234                                 none    MI                1
18235                                 none    NV                1
18236                                 none    TX                1
18237                     north of Bemidji    MN                1
18238                           not in one    IL                1
18239                            not shure    ME                1
18240                             not sure    TX                1
18241  observer enroute on MN hwy 61 north    MN                1
18242                            oceanside    CA                1
18243                           on highway    AR                1
18244                        on plane wing    NY                1
18245                            over many    CA                1
18246                                  pjs    NY                1
18247                                  pks    NC                1
18248                             plymouth    MN                1
18249                               remote    WY                1
18250                                rte 9    ME                1
18251                           russlville    AR                1
18252                              rutland    MA                1
18253                          selinsgrove    PA                1
18254                  south of the border    NC                1
18255                             temecula    CA                1
18256                                 troy    MI                1
18257                                 ucon    ID                1
18258                    unsure exact name    GA                1
18259                            vacaville    CA                1
18260                              various    CA                1
18261            wailea, mckenna, Maui, HI    HI                1
18262                         west morland    CA                1

[18263 rows x 3 columns]

In [7]:
shape_counts.shape

(18263, 3)